/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background: #FFFFFF fixed no-repeat;
    background-image: url('../img/img-bg2.jpg');
    background-size: 100% 100%;
}

ol, ul {
    list-style: none;
    margin: 0;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:hover {
    text-decoration: none;
}

h1, h5, h2, h4, h3 {
    font-family: 'Conv_UTM Swiss CondensedBold',Sans-Serif;
    text-transform: uppercase;
}

h3 {
    font-family: 'Conv_UTM Swiss Condensed',Sans-Serif;
    text-transform: uppercase;
}
/**************/
@font-face {
    font-family: 'Conv_UTM Swiss CondensedBold';
    src: url('../fonts/UTM Swiss CondensedBold.eot');
    src: local('☺'), url('../fonts/UTM Swiss CondensedBold.woff') format('woff'), url('../fonts/UTM Swiss CondensedBold.ttf') format('truetype'), url('../fonts/UTM Swiss CondensedBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_UTM Swiss Condensed';
    src: url('../fonts/UTM Swiss Condensed.eot');
    src: local('☺'), url('../fonts/UTM Swiss Condensed.woff') format('woff'), url('../fonts/UTM Swiss Condensed.ttf') format('truetype'), url('../fonts/UTM Swiss Condensed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}




header {
    padding-top: 75px;
}

    header > .container {
        background-color: rgba(255, 255, 255, .2);
        /*background-color: dimgrey;*/
    }

h1.logo {
    margin: 40px 0px 30px 60px;
}

.main-navigation {
    margin: 80px 0px 0px 60px;
}

    .main-navigation ul li {
        float: left;
        margin-right: 30px;
    }

        .main-navigation ul li:last-child {
            margin-right: 0px;
        }

        .main-navigation ul li a {
            color: white;
            text-transform: uppercase;
            font-size: 15px;
            -moz-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

            .main-navigation ul li a:hover, .main-navigation ul li a:active {
                border-bottom: 3px solid white;
                padding-bottom: 6px;
            }

#rwd-top-nav-btn, .rwd-navigation {
    display: none;
}

#rwd-top-nav-btn {
    display: block;
    text-align: center;
    background: rgba(255,255,255,.3);
    padding: 10px 0;
}

.rwd-navigation {
    background: rgba(255,255,255,.2);
    text-align: center;
    color: white;
    padding: 10px 0;
}

    .rwd-navigation ul li a {
        display: block;
        padding: 5px 0;
        color: white;
        text-transform: uppercase;
    }

.slogan-container {
    text-align: center;
    padding: 30px 0 40px;
}

h1.slogan {
    text-transform: uppercase;
    color: white;
    font-family: 'Conv_UTM Swiss CondensedBold',Sans-Serif;
    margin-bottom: 15px;
}

p.desc {
    width: 720px;
    margin: 0 auto;
    color: white;
    font-size: 16px;
    line-height: 25px;
}
/**** SCROLL  *****/
.cbp-af-header {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background: white;
    z-index: 10000;
    height: 0px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    -webkit-box-shadow: 0px 0px 7px #666666;
    box-shadow: 0px 0px 7px #666666;
    opacity: .7;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

    .cbp-af-header:hover {
        opacity: 1;
    }

    .cbp-af-header .cbp-af-inner {
        margin: 0 auto;
        padding: 0 1em;
    }

    .cbp-af-header h1.logo-black {
        width: 215px;
        padding-bottom: 5px;
    }

        .cbp-af-header h1.logo-black img {
            margin-bottom: 8px;
            -moz-transition: all 0.5s ease-out;
            -webkit-transition: all 0.5s ease-out;
            -ms-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
        }

            .cbp-af-header h1.logo-black img:hover {
                opacity: .5;
            }

    .cbp-af-header h1,
    .cbp-af-header nav {
        display: inline-block;
        position: relative;
    }

        /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
        .cbp-af-header h1,
        .cbp-af-header nav a {
            line-height: 130px;
        }

    .cbp-af-header h1 {
        text-transform: uppercase;
        color: #333;
        letter-spacing: 4px;
        font-size: 4em;
        margin: 0;
        float: left;
    }

    .cbp-af-header nav {
        float: right;
    }

        .cbp-af-header nav ul li {
            float: left;
            padding: 0 10px;
            -moz-transition: all 0.5s ease-out;
            -webkit-transition: all 0.5s ease-out;
            -ms-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
        }

            .cbp-af-header nav ul li:hover {
                background: #333333;
                color: white;
            }

                .cbp-af-header nav ul li:hover a {
                    color: white;
                }

            .cbp-af-header nav ul li a {
                font-size: 13px;
                color: #333333;
                text-transform: uppercase;
                font-size: 16px;
                font-family: 'Conv_UTM Swiss Condensed',Sans-Serif;
            }

                .cbp-af-header nav ul li a:hover {
                    color: white;
                }
        /* Transitions and class for reduced height */
        .cbp-af-header h1,
        .cbp-af-header nav a {
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

    .cbp-af-header.cbp-af-header-shrink {
        height: 40px;
    }

        .cbp-af-header.cbp-af-header-shrink h1,
        .cbp-af-header.cbp-af-header-shrink nav a {
            line-height: 40px;
        }

        .cbp-af-header.cbp-af-header-shrink h1 {
            font-size: 2em;
        }

/* Example Media Queries */
@media screen and (max-width: 55em) {

    .cbp-af-header .cbp-af-inner {
        width: 100%;
    }

    .cbp-af-header h1,
    .cbp-af-header nav {
        display: block;
        margin: 0 auto;
        text-align: center;
        float: none;
    }

        .cbp-af-header h1,
        .cbp-af-header nav a {
            line-height: 115px;
        }

        .cbp-af-header nav a {
            margin: 0 10px;
        }

    .cbp-af-header.cbp-af-header-shrink h1,
    .cbp-af-header.cbp-af-header-shrink nav a {
        line-height: 45px;
    }

    .cbp-af-header.cbp-af-header-shrink h1 {
        font-size: 2em;
    }

    .cbp-af-header.cbp-af-header-shrink nav a {
        font-size: 1em;
    }
}

@media screen and (max-width: 32.25em) {
    .cbp-af-header nav a {
        font-size: 1em;
    }
}

@media screen and (max-width: 24em) {
    .cbp-af-header nav a,
    .cbp-af-header.cbp-af-header-shrink nav a {
        line-height: 1;
    }
}


/**** PRICE *****/
#price {
    background: #efefef;
    padding: 30px 0 40px 0;
}

    #price h1 {
        color: #666666;
        text-align: center;
        margin: 10px 0 30px 0;
    }

    #price .span2 {
        background: white;
        text-align: center;
        -moz-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        -webkit-box-shadow: 0px 0px 7px #d7d7d7;
        box-shadow: 0px 0px 7px #d7d7d7;
        margin-top: 0px;
    }

    #price h4 {
        text-align: center;
        margin: 0;
        padding: 7px 0;
        font-family: 'Conv_UTM Swiss Condensed',Sans-Serif;
        text-transform: uppercase;
    }

.red {
    color: white;
    background: #e74c3c;
}

.orange {
    color: white;
    background: #ff7800;
}

.price {
    opacity: .7;
    font-size: 27px;
    font-weight: bold;
    padding: 20px 10px;
}

.light-green {
    color: white;
    background: #a7b236;
}

.dark-green {
    background: #73a55b;
    color: white;
}

.blue {
    background: #3e89a4;
    color: white;
}

.pink {
    background: #dc548f;
    color: white;
}

#price ul {
    padding: 0 20px;
}

    #price ul li {
        padding: 12px 0;
        border-bottom: 1px solid #d4d4d4;
        font-size: 13px;
    }

        #price ul li:last-child {
            border-bottom: none;
        }

        #price ul li a {
            color: #333333;
            font-family: tahoma;
        }

a.detail-btn {
    display: block;
    padding: 10px 0;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

    a.detail-btn:hover {
        opacity: .8;
        color: white;
    }

#price .span2:hover {
    margin-top: -10px;
    -webkit-box-shadow: 0px 0px 7px #b7b7b7;
    box-shadow: 0px 0px 7px #b7b7b7;
}

/*** SLOGAN PARALLAX ****/
#slogan-parallax {
    background: url(../img/4.jpg) 50% 0 no-repeat fixed;
    background-size: 140% 140%;
    text-align: center;
    position: relative;
    padding: 30px 0 120px;
}

    #slogan-parallax .container {
        height: 100px;
    }

    #slogan-parallax h1, #slogan-parallax-02 h1 {
        color: white;
        text-shadow: 1px 1px 2px #616161;
        filter: dropshadow(color=#616161, offx=1, offy=1);
        font-size: 44px;
    }

#slogan-parallax-02 {
    background: url(../img/3.jpg) repeat-x fixed;
    padding: 70px 0 80px 0;
    text-align: center;
}

    #slogan-parallax-02 span {
        color: white;
        font-family: 'Conv_UTM Swiss Condensed';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        text-transform: uppercase;
    }

    #slogan-parallax-02 .hotline-icon {
        background: white;
        width: 130px;
        height: 130px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
        text-align: center;
        margin: 0px auto;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }

        #slogan-parallax-02 .hotline-icon:hover {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }

        #slogan-parallax-02 .hotline-icon img {
            margin-top: 40px;
        }

    #slogan-parallax-02 span.line-name {
        width: 55px;
        height: 3px;
        background: white;
        display: inline-block;
        margin: 6px;
    }

/*** SERVICES ***/
#services {
    background: #85ba6c;
    padding: 30px 0 0 0;
}

    #services h1 {
        color: white;
        text-align: center;
        margin-bottom: 40px;
    }

    #services h4 {
        color: white;
        font-size: 25px;
        font-family: 'Conv_UTM Swiss Condensed',Sans-Serif;
        text-transform: uppercase;
        margin: 40px 0 20px 0;
    }

        #services h4 a {
            color: white;
            -moz-transition: all 0.2s ease-out;
            -webkit-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }

            #services h4 a:hover {
                border-bottom: 3px solid white;
            }

    #services p {
        line-height: 22px;
        color: white;
    }

    #services button.readmore {
        background: #92c37a;
        border: none;
        margin-top: 30px;
        height: 14px;
        -moz-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

        #services button.readmore:hover {
            background: #444444;
        }

        #services button.readmore .icon-square-small {
            background: white;
            width: 5px;
            height: 5px;
        }

.service-icon {
    background: white;
    width: 100px;
    height: 100px;
    line-height: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    margin: 0px auto;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
    /* .service-icon:hover img {
	padding:5px;
} */
    .service-icon img {
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        -ms-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }
/* .service-icon:hover img {
	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
} */
#services .span3 {
    background: #92c37a;
    padding: 70px 25px;
    text-align: center;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

    #services .span3:hover {
        background: #9ecc87;
    }

        #services .span3:hover img {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }

.flexslider li:hover button.readmore {
    background: #444444;
}

.flexslider li {
    background: #92c37a;
    padding: 70px 25px;
    text-align: center;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

    .flexslider li:hover {
        background: #9ecc87;
    }

        .flexslider li:hover img {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }

.flex-control-nav li {
    padding: 0;
}



/*** NEWEST ALBUM ***/
#newest-album {
    background: #444444;
    padding: 30px 0 40px 0;
}

    #newest-album h1 {
        color: white;
        text-align: center;
        margin-bottom: 40px;
    }
/* ul.thumbnails img {
	border:5px solid #333333;
} */
ul.thumbnails {
    text-align: center;
}

    ul.thumbnails a {
        color: white;
        font-weight: bold;
        font-size: 16px;
        font-family: 'Conv_UTM Swiss Condensed',Sans-Serif;
        text-transform: uppercase;
        -moz-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

        ul.thumbnails a:hover {
            border-bottom: 3px solid white;
        }

#newest-album ul.thumbnails a img {
    width: 270px;
    height: 170px;
    transition: all .5s ease-in-out;
}

    #newest-album ul.thumbnails a img:hover {
        transform: scale(1.5);
        opacity: 0.5;
    }
/* ul.thumbnails li {
	margin-bottom:50px;
} */
button.view-all {
    background: #5c5c5c;
    text-transform: uppercase;
    border: none;
    font-size: 25px;
    font-family: 'Conv_UTM Swiss Condensed',Sans-Serif;
    margin: 0px auto;
    display: block;
    padding: 12px 20px;
    color: white;
    margin-top: 20px;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

    button.view-all:hover {
        background: #6c6c6c;
    }

/*** NEWS ***/
#news {
    background: #3cb6b6;
    padding: 30px 0 40px 0;
}

    #news h1 {
        color: white;
        text-align: center;
        margin-bottom: 40px;
    }

    #news a {
        font-family: 'Conv_UTM Swiss Condensed',Sans-Serif;
        text-transform: uppercase;
        line-height: 28px;
        background: white;
        display: block;
        width: 100%;
        height: 100%;
    }

    #news p {
        color: white;
        line-height: 20px;
    }

    #news img {
        border: none;
        -moz-transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
    }

    #news .span4 > a > img:hover {
        opacity: .6;
        background: white;
    }

    #news .span4:hover .date {
        top: 90px;
        opacity: 1;
    }

    #news .span4 a:hover {
        border-bottom: 0;
    }

    #news .span4 {
        position: relative;
    }

    #news .date {
        background: white;
        position: absolute;
        top: 105px;
        right: 10px;
        padding: 5px 5px 10px 5px;
        text-align: center;
        z-index: 10000;
        -moz-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        opacity: .7;
    }

    #news .news-title {
        display: block;
        margin-bottom: 10px;
        margin-top: 20px;
        background: none;
    }

        #news .news-title:hover {
            border-bottom: 0;
            opacity: .6;
        }

    #news .date .day {
        font-weight: bold;
        font-size: 36px;
        display: block;
        margin-top: 10px;
    }

    #news .date .month {
        font-size: 14px;
        display: block;
        border-bottom: 2px solid #30a9a9;
        margin-top: 5px;
    }

/*** CONTACT ***/
#contact {
    background: #fff;
    padding: 30px 0 30px 0;
}

    #contact h1 {
        color: #333333;
        text-align: center;
        margin-bottom: 40px;
    }

    #contact .form-input {
        background: #e0dfdf;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 52px;
        padding: 15px 20px;
        margin-bottom: 21px;
    }

    #contact .secure {
        margin-top: 5px;
    }

    #contact .form-content {
        background: #e0dfdf;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 15px 20px;
    }

    #contact .form-vertical img {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    #contact .form-vertical button.send-button {
        background: #3cb6b6;
        border: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: white;
        font-family: 'Conv_UTM Swiss Condensed',Sans-Serif;
        text-transform: uppercase;
        font-size: 26px;
        padding: 14px 45px;
        display: inline-block;
        margin-bottom: 10px;
    }

    #contact .form-vertical button.send-button-disable {
        background: #2c9192;
        border: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #34aaab;
        font-family: 'Conv_UTM Swiss Condensed',Sans-Serif;
        text-transform: uppercase;
        font-size: 26px;
        padding: 14px 45px;
        display: inline-block;
        margin-bottom: 10px;
        text-decoration: line-through;
    }

    #contact .form-vertical button.send-button:hover {
        background: #38a9a9;
    }

    #contact .contact-info {
        background: #f2f2f2;
        padding: 10px 20px 10px 20px;
    }

        #contact .contact-info li {
            font-family: 'Conv_UTM Swiss Condensed',Sans-Serif;
            font-size: 16px;
            margin: 10px 0;
        }

            #contact .contact-info li.title {
                border-bottom: 1px solid #333333;
                padding-bottom: 10px;
            }

            #contact .contact-info li:first-child {
                text-transform: uppercase;
            }

    #contact .phone-contact {
        background: white;
        padding: 20px;
        border-radius: 4px;
    }

        #contact .phone-contact p {
            line-height: 20px;
        }

            #contact .phone-contact p.km {
                color: #FF0000;
                font-weight: bold;
            }

        #contact .phone-contact img.voucher {
            padding: 10px;
            margin-bottom: 20px;
        }

        #contact .phone-contact img {
            float: left;
            padding: 20px;
            background: #1faeb5;
            margin-right: 20px;
        }

        #contact .phone-contact .phone-number {
            color: #3cb6b6;
            font-size: 24px;
            font-family: 'Conv_UTM Swiss CondensedBold',Sans-Serif;
            padding-top: 10px;
        }

            #contact .phone-contact .phone-number span {
                font-size: 18px;
                font-family: 'Conv_UTM Swiss Condensed',Sans-Serif;
                color: #999999;
            }

    #contact .maps {
        background: white;
        border-radius: 4px;
        margin-top: 20px;
    }

        #contact .maps .location-icon img {
            margin-top: 20px;
        }

/****FOOTER****/
footer {
    background: #333333;
    color: white;
    padding: 30px 0 20px 0;
}

    footer .copyright {
        text-align: left;
    }

    footer .counter {
        text-align: right;
        color: #999999;
    }

        footer .counter span {
            font-weight: bold;
            color: #ffed88;
        }

#scroll-top {
    position: fixed;
    /* On top of everything */
    z-index: 9999;
    bottom: 0;
    right: 0;
    margin: 1em 1.3em 1.6em 0;
    display: inline-block;
    padding: 0.4em 0.5em;
    border-radius: 3px;
    color: #fafafa;
    text-decoration: none;
    border: 1px solid transparent;
    background: #1faeb5;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/****------------------------------------- SUB - PAGE -------------------------------------****/

.breadcrumb-container {
    background: url(../img/4.jpg) no-repeat center center fixed;
    padding: 40px 30px;
}

    .breadcrumb-container h3 {
        color: white;
        padding: 0;
        margin: 0;
    }

    .breadcrumb-container ul li {
        float: left;
        margin: 0 10px 0 0;
        color: white;
    }

        .breadcrumb-container ul li a {
            color: white;
            font-family: tahoma;
        }

            .breadcrumb-container ul li a:hover {
                text-decoration: underline;
            }

.section {
    background: white;
    margin-bottom: 30px;
}

    .section .span4 {
        background: #ededed;
    }

.article-container {
    background: white;
    padding: 30px 0 30px 30px;
    margin-bottom: 30px;
}

    .article-container p {
        color: #666666;
        font-family: tahoma;
        line-height: 19px;
        margin-top: 20px;
    }


    .sidebar h3, .article-container h3 {
        margin-top: 0;
        padding: 0;
    }

.sidebar-services {
    padding: 30px;
}

    .sidebar-services ul li {
        padding: 10px 0;
        border-bottom: 1px dotted #cacaca;
        -moz-transition: all 03s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

        .sidebar-services ul li:hover {
            background: #e0e0e0;
            padding-left: 10px;
            padding-right: 10px;
        }

        .sidebar-services ul li a:hover {
            text-decoration: underline;
        }

        .sidebar-services ul li a {
            color: #666666;
            font-family: tahoma;
            font-size: 15px;
        }

ul li i.icon-chevron-right {
    float: right;
    opacity: .5;
}

.sidebar-news {
    background: #dbdbdb;
    padding: 20px 30px 30px 30px;
}

    .sidebar-news .news-big {
        border-bottom: 1px dotted #aeaeae;
        margin-bottom: 20px;
    }

        .sidebar-news .news-big a {
            font-family: 'Conv_UTM Swiss CondensedBold',Sans-Serif;
            text-transform: uppercase;
            color: #333333;
            font-size: 16px;
            margin: 10px 0 5px 0;
            display: block;
            line-height: 21px;
        }

        .sidebar-news .news-big p {
            line-height: 19px;
            font-family: tahoma;
        }

    .sidebar-news .news-small ul li {
        float: left;
        width: 150px;
        margin-right: 10px;
    }

        .sidebar-news .news-small ul li:last-child {
            margin-right: 0;
        }

    .sidebar-news img {
        margin-bottom: 5px;
        -moz-transition: all 03s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

        .sidebar-news img:hover, .sidebar-news .news-big a img:hover {
            opacity: .5;
        }

    .sidebar-news .news-small ul li a {
        font-family: tahoma;
        color: #333333;
        font-size: 14px;
    }

        .sidebar-news .news-small ul li a:hover {
            text-decoration: underline;
        }

.sidebar .price-list {
    padding: 30px;
}

    .sidebar .price-list li {
        padding: 15px 10px 10px 15px;
        background: white;
        margin: 10px 0;
        -moz-transition: all 03s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

        .sidebar .price-list li:hover {
            padding: 15px 15px 10px 25px;
        }

        .sidebar .price-list li a {
            font-family: 'Conv_UTM Swiss Condensed',Sans-Serif;
            text-transform: uppercase;
            font-size: 19px;
            display: block;
        }

        .sidebar .price-list li.orange {
            border-left: 4px solid #ff7800;
        }

            .sidebar .price-list li.orange a, #pack1 h3 {
                color: #ff7800;
            }

        .sidebar .price-list li.light-green {
            border-left: 4px solid #a7b236;
        }

            .sidebar .price-list li.light-green a, #pack2 h3 {
                color: #a7b236;
            }

        .sidebar .price-list li.dark-green {
            border-left: 4px solid #73a55b;
        }

            .sidebar .price-list li.dark-green a, #pack3 h3 {
                color: #73a55b;
            }

        .sidebar .price-list li.blue {
            border-left: 4px solid #3e89a4;
        }

            .sidebar .price-list li.blue a, #pack4 h3 {
                color: #3e89a4;
            }

        .sidebar .price-list li.pink {
            border-left: 4px solid #dc548f;
        }

            .sidebar .price-list li.pink a, #pack5 h3 {
                color: #dc548f;
            }

.price-container {
    padding: 30px 30px 30px 0;
}

#pack1, #pack2, #pack3, #pack4, #pack5 {
    padding: 10px 30px 30px 30px;
    border: 3px solid #e8e8e8;
    margin-bottom: 20px;
}

.price-container li {
    padding: 10px 0;
    font-weight: bold;
    -moz-transition: all 03s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

    .price-container li:hover {
        background: #fafafa;
        padding-left: 10px;
    }

#sticker {
    width: 310px;
}
/*** ALBUM SUB ***/
.album-container {
    background: #ffffff;
    padding: 50px 0;
}

    .album-container .thumbnails h4 {
        margin: 10px 0 5px 0;
    }

        .album-container .thumbnails h4 a {
            color: #333333;
            margin: 10px 0 0 0;
        }

    .album-container .thumbnails a img {
        -moz-transition: all 03s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

        .album-container .thumbnails a img:hover {
            opacity: .7;
        }

.page {
    margin-top: -15px;
    margin-bottom: 30px;
}

    .page ul li {
        margin: 0 3px;
        float: left;
    }

        .page ul li a {
            padding: 10px 25px;
            background: #cccccc;
            color: #333333;
        }

        .page ul li:first-child {
            margin-left: 0;
        }

        .page ul li a.active {
            background: #3cb6b7;
            color: white;
        }

            .page ul li a.active:hover {
                background: #289d9e;
            }

        .page ul li a:hover {
            background: #3cb6b7;
            color: white;
        }

.grey {
    background: #efefef;
}

.album-detail-header .button-reg {
    float: right;
    padding-top: 10px;
}

.album-detail-header {
    margin-bottom: 20px;
}

    .album-detail-header h1 {
        margin-top: 0;
    }

    .album-detail-header .send-wishes-btn, .reg-take-btn {
        border: none;
        font-family: 'Conv_UTM Swiss Condensed',Sans-Serif;
        text-transform: uppercase;
        font-size: 19px;
        color: white;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        padding: 5px 10px;
    }

        .send-wishes-btn:hover, .reg-take-btn:hover {
            opacity: .8;
            color: white;
        }

.send-wishes h3 {
    color: white;
    border-bottom: 3px solid #2d9797;
}

.send-wishes {
    background: #3cb6b7;
}

.wishes-content {
    padding: 10px 0px 20px 0;
    max-height: 326px;
    overflow: auto;
}

.send-wishes .row .span8 {
    padding: 20px 0;
}

.wishes-content li {
    margin: 10px 0px 20px 0;
    border-bottom: 1px solid #2d9797;
}

    .wishes-content li a {
        font-weight: bold;
        font-size: 18px;
        color: #fefb88;
    }

    .wishes-content li p {
        color: white;
    }

    .wishes-content li a img {
        margin-top: -20px;
    }

.send-wishes .span4 {
    background: #33a3a4;
}

.send-wishes .form-vertical .form-input {
    background: white;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 35px;
    margin-bottom: 20px;
    width: 96%;
}

.send-wishes .form-content {
    background: white;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 96%;
}

.send-wishes .span4 {
    padding-top: 20px;
}

    .send-wishes .span4 .form-vertical {
        padding: 0px 30px 30px 30px;
    }

        .send-wishes .span4 .form-vertical h3 {
            margin-bottom: 20px;
        }

        .send-wishes .span4 .form-vertical label {
            color: white;
            margin-bottom: 10px;
        }

        .send-wishes .span4 .form-vertical button.send-button {
            border: none;
            font-family: 'Conv_UTM Swiss Condensed',Sans-Serif;
            text-transform: uppercase;
            font-size: 19px;
            color: white;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            padding: 5px 10px;
            background: #333333;
        }

.fancybox-opened .fancybox-skin {
    border-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

/**** NEWS ****/
.category-news > .list-news > li {
    clear: both;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #d6d6d6;
}

    .category-news > .list-news > li .news-thumbs {
        float: left;
        margin-right: 15px;
        width: 270px;
    }

    .category-news > .list-news > li:last-child {
        border-bottom: 0;
        padding-bottom: 50px;
    }

.category-news li .news-thumbs img {
    -moz-transition: all 03s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

    .category-news li .news-thumbs img:hover {
        opacity: .7;
    }

.category-news li .news-desc a.news-title {
    font-family: 'Conv_UTM Swiss CondensedBold',Sans-Serif;
    text-transform: uppercase;
    font-size: 18px;
    color: #666666;
    -moz-transition: all 03s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

    .category-news li .news-desc a.news-title:hover {
        opacity: .7;
    }

.category-news li .news-desc p.news-desc {
    margin: 10px 0 0 0;
    padding: 0;
}

.article-container .date {
    color: #999999;
    padding: 8px;
    border-bottom: 1px dotted #e4e4e4;
    border-top: 1px dotted #e4e4e4;
    font-size: 12px;
    margin-bottom: 20px;
}

/*** MODAL***/
.modal-header {
    background: #ff7900;
}

h3#myModalLabel {
    color: white;
    text-align: center;
}

.modal {
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.modal-body, .modal-footer {
    text-align: center;
}

    .promote-modal li span, .modal-body h1 {
        color: #ff7900;
    }

.promote-modal li {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0;
}

.camket {
    background: #efefef;
    border: 3px dotted #d2d2d2;
    padding: 20px;
    margin-top: 20px;
}

    .camket p {
        line-height: 18px;
    }

.modal.fade.in {
    top: 15%;
}

.modal .btn {
    border-radius: 0;
    -moz-border-radius: 0px;
}

.menu_nav {
    display: none;
}

.call-hot {
    display: none;
}
/* @media (max-width: 320px) {
	.rwd-price-list ul li {
		float:left;
		width:20px;
		text-align:center;
		padding:10px 0;
	}
	
} */
#rwd-top-nav-btn, .rwd-navigation, .rwd-price-list {
    display: none;
}

@media (max-width: 480px) {
    header {
        padding-top: 20px;
    }

    .main-navigation {
        margin: 0 0 0 10px;
        display: none;
    }

    .sticky-wrapper, .rwd-navigation {
        display: none;
    }

    .price-container {
        padding: 10px;
    }

    .sidebar {
        display: none;
    }

    #pack1, #pack2, #pack3, #pack4, #pack5 {
        padding: 10px;
    }

    h3 {
        margin: 0;
    }

    .article-container {
        padding: 10px;
    }

    #sticker {
        width: 100%;
    }

    .lhbg {
        display: none;
    }

    .rwd-price-list {
        display: block;
    }

        .rwd-price-list h3 {
            font-size: 18px;
            text-align: center;
        }

        .rwd-price-list ul li {
            float: left;
            width: 100%;
            text-align: center;
            padding: 10px 0;
            margin-bottom: 2px;
        }

            .rwd-price-list ul li a {
                color: white;
            }

                .rwd-price-list ul li a i {
                    display: none;
                }

    h1.logo {
        margin: 0px;
    }

        h1.logo img {
            width: 60%;
            margin-left: 10px
        }

    #newest-album ul.thumbnails a img {
        width: 100%;
        height: auto;
    }
}


@media (max-width: 480px) {
    #contact {
        padding: 1px 0 0px 0;
    }

        #contact .maps {
            margin-top: 0px
        }

    .flexslider {
        display: none;
    }

    p.desc {
        width: auto;
    }

    .rwd-navigation, .main-navigation {
        display: none;
    }

    #rwd-top-nav-btn {
        display: none
    }

    .menu_nav {
        display: block;
        width: 100%;
        position: fixed;
        background: #85ba6c;
        z-index: 999999;
        left: 0;
        top: 0;
    }

    .navbar-header {
        height: 40px;
        border-bottom: 1px solid #d1d1d1
    }

    .btnmenumobile {
        float: right;
        margin: 10px;
        background: inherit;
        border: none;
        padding: 3px 7px 3px 7px;
        color: #fff;
        font-size: 20px;
    }

    .rwd-price-list {
        display: block;
    }

    h1.logo {
        display: none;
    }

    #slogan-parallax {
        display: none
    }

    .logomobile {
        display: block;
        position: absolute;
        width: 35%;
        margin: 4px;
        height: 35px;
        width: 100px;
    }

    .navbar {
        margin-bottom: 0px
    }

    .navbar-inverse .brand, .navbar-inverse .nav > li > a {
        color: #fff;
        text-transform: uppercase;
    }

    .navbar .nav > li {
        width: 100%;
        float: none;
    }

    #services {
        display: none;
    }

    .span6 {
        margin-bottom: 2px;
    }

    .cbp-af-header.cbp-af-header-shrink {
        display: none
    }

    #price .span2 {
        margin-bottom: 20px
    }

    .call-hot {
        display: block;
        width: 150px;
        height: 40px;
        background: #BDB76B;
        position: fixed;
        bottom: 40px;
        border-radius: 20px;
        z-index: 9999999999;
    }

        .call-hot a {
            text-decoration: none;
            font-size: 14px;
            color: white;
            line-height: 40px;
            width: 100px;
            float: left;
            font-weight: bold;
        }

        .call-hot img {
            float: left;
            width: 40px;
            margin-right: 5px;
            border-radius: 20px;
            background-color: #808000;
        }

    #newest-album ul.thumbnails a img {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 23.5px;
        font-family: arial;
    }

    #newest-album, #price, #news {
        padding: 25px 0 0 0;
    }

    .rwd-price-list ul li {
        float: left;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    h1.logo {
        margin: 40px 0px 30px 30px;
    }

    .main-navigation {
        margin-left: 0;
    }

    p.desc {
        width: auto;
    }

    #rwd-top-nav-btn, .rwd-navigation {
        display: none;
    }

    .main-navigation ul li {
        float: left;
        margin-right: 15px;
    }

        .main-navigation ul li a {
            font-size: 12px;
        }

    #price .price {
        font-size: 17px;
    }

    #price h4 {
        font-size: 14px;
    }

    #newest-album ul.thumbnails a img {
        height: 102px;
        width: auto;
    }

    #news .date {
        display: none;
    }

    #news .span4:hover .date {
        top: 60px;
        opacity: 1;
    }

    .sidebar-news .news-small ul li {
        width: 115px;
    }

        .sidebar-news .news-small ul li a {
            font-size: 13px;
        }

    #sticker {
        width: 190px;
    }

    .sidebar .price-list {
        padding: 20px;
    }

        .sidebar .price-list li a {
            font-size: 14px;
        }

        .sidebar .price-list li {
            padding: 5px 10px 5px 5px;
        }

            .sidebar .price-list li:hover {
                padding: 5px 10px 5px 10px;
            }

    #slogan-parallax h1, #slogan-parallax-02 h1 {
        font-size: 28px;
    }

    #contact .contact-info li {
        font-size: 16px;
    }

    #contact .phone-contact {
        padding: 10px;
    }

        #contact .phone-contact img {
            padding: 0;
            margin-right: 10px;
        }

        #contact .phone-contact .phone-number {
            font-size: 18px;
            padding-top: 0;
        }
}

@media (min-width: 980px) and (max-width: 1200px) {
    .main-navigation {
        margin-left: 0;
    }

        .main-navigation ul li {
            float: left;
            margin-right: 20px;
        }

            .main-navigation ul li a {
                font-size: 13px;
            }

    #price .price {
        font-size: 22px;
    }

    #newest-album ul.thumbnails a img {
        height: 125px;
        width: auto;
    }

    #news .date {
        top: 70px;
    }

    #news .span4:hover .date {
        top: 60px;
        opacity: 1;
    }

    #rwd-top-nav-btn, .rwd-navigation {
        display: none;
    }

    .sidebar-news .news-small ul li {
        width: 115px;
    }

        .sidebar-news .news-small ul li a {
            font-size: 13px;
        }

    #sticker {
        width: 240px;
    }

    #slogan-parallax h1, #slogan-parallax-02 h1 {
        font-size: 38px;
    }

    .view h2 {
        margin-left: 82px !important;
        margin-top: 38px !important;
    }

    .sidebar .price-list li {
        padding: 15px 10px 10px 8px;
    }

        .sidebar .price-list li:hover {
            padding: 15px 10px 10px 12px;
        }

        .sidebar .price-list li a {
            font-size: 17px;
        }
}

@media (max-width: 320px) {
    .rwd-price-list ul li {
        width: 100%;
        margin-bottom: 2px;
    }
}

.sidebar_fix {
    position: fixed;
    z-index: 9999;
    top: 0;
    background: #ededed;
}

.Album {
    background-color: white;
    background-image: url('../img/backgroud2.jpg');
    background-size: 140% 140%;
    margin-top: -10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    height: 100%;
}

.video {
    background-color: white;
    background-image: url('../img/backgroud2.jpg');
    background-size: 140% 140%;
    margin-bottom: 0px;
    padding-bottom: 10px;
    height: 100%;
}

    .video h2 {
        text-align: center;
        color: red;
        padding-top: 20px;
    }

.Album h2 {
    text-align: center;
    color: red;
    padding-top: 20px;
}

.Banggia h2 {
    text-align: center;
    color: white;
    padding-top: 20px;
}

.imgalbum:hover {
    opacity: 0.8;
    /*transform:scale(1.5);*/
}

.img-rounded:hover {
    opacity: 0.9;
}

.btnXemthem {
    background: #5c5c5c;
    text-transform: uppercase;
    border: none;
    font-size: 25px;
    font-family: 'Conv_UTM Swiss Condensed',Sans-Serif;
    margin: 0px auto;
    display: block;
    padding: 12px 20px;
    color: white;
    margin-top: 20px;
}
/*view picture*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.pre {
    position: absolute;
    top: 50%;
    left: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.next {
    position: absolute;
    top: 50%;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
    .next:hover, next:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
.pre:hover, .pre:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

.contentDV li {
    padding: 15px 10px 10px 15px;
    background-color: white;
    margin: 10px 0;
}

    .contentDV li a {
        font-family: 'Conv_UTM Swiss Condensed',Sans-Serif;
        text-transform: uppercase;
        font-size: 20px;
    }

/*Tien Huỳnh*/
.modalBackground {
    height: 200%;
    background-color: #EBEBEB;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.panel {
    width: auto;
    height: auto;
}

.gridheader {
    background-color: #646464;
    font-family: Arial;
    color: White;
    border: none 0px transparent;
    height: 25px;
    text-align: center;
    font-size: 16px;
}

.griddelete {
    background-color: #f44336;
    font-family: Arial;
    color: White;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #f44336;
}

.gridedit {
    background-color: #008CBA;
    font-family: Arial;
    color: White;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #008CBA;
}

    .gridedit:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

.themalbum {
    background-color: #008CBA;
    font-family: Arial;
    color: White;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #008CBA;
}

.btnsave {
    background-color: #4CAF50;
    font-family: Arial;
    color: White;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #4CAF50;
}

.txttenalbum {
    margin-left: 24px;
}

.txtpath {
    margin-left: 20px;
}

.btnupload {
    background-color: #008CBA;
    font-family: Arial;
    color: White;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #008CBA;
}

.btnclose {
    background-color: #f44336;
    font-family: Arial;
    color: White;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #f44336;
    margin-left: 340px;
}

.auto-style1 {
    height: 26px;
}




.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: auto;
    height: auto;
}

    /* Style the buttons inside the tab */
    .tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current "tab button" class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    padding: 0px 12px;
    width: 1147px;
    height: 705px;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
}




.modalBackground {
    height: 100%;
    background-color: #EBEBEB;
    filter: alpha(opacity=70);
    opacity: 0.7;
}



.gridheader {
    background-color: #646464;
    font-family: Arial;
    color: White;
    border: none 0px transparent;
    height: 25px;
    text-align: center;
    font-size: 16px;
}

.griddelete {
    background-color: #f44336;
    font-family: Arial;
    color: White;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #f44336;
}

.gridedit {
    background-color: #008CBA;
    font-family: Arial;
    color: White;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #008CBA;
}

    .gridedit:hover .griddelete {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

.themalbum {
    background-color: #008CBA;
    font-family: Arial;
    color: White;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #008CBA;
}

.btnsave {
    background-color: #4CAF50;
    font-family: Arial;
    color: White;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #4CAF50;
}


