body {
    margin: 0;
    padding: 0;
    background-image: url('Asset/img-bg-login.jpg');
    background-size: cover;
    font-family: sans-serif;
}
.Loginbox{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:350px;
    height:450px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.4);
}
.lblEmail, .lblPass{
    font-weight: bold;
    color: #fff;

}
.txtEmail, .txtPass, .btnSubmit{
    width:100%;
    margin-bottom: 20px;

}
.txtEmail, .txtPass{
    border:none;
    border-bottom:1px solid #fff;
    outline:none;
    height:40px;
    color:#fff;
    font-size:16px;
    background-color:transparent;
}
.btnSubmit {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: blue;
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}
    .btnSubmit:hover {
        background-color: red;
    }
